/testing.fasta
/Manifest.toml
/src/upcoming
/test/localtest.jl
/.vscode
/benchmark
docs/build/
docs/Manifest.toml
currUpdates.md
src/kmerCount.jl
src/testing.ipynb
a.exe
new_src
new_testing.fasta
Demo.ipynb